---
import type { GetStaticPaths } from 'astro';

import type { PokemonListResponse } from '@interfaces/pokemon-list.response';

import Layout from '@layouts/Layout.astro';
import PokemonCard from '@components/PokemonCard.astro';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');

  if (!resp.ok) throw new Error('Failed to fetch data');

  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;

const title = `Pokémon Detail | ${name.split('')[0].toUpperCase()}${name.slice(1)}`;
---

<Layout title={title}>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div>
      <a href='/' class='underline text-blue-500'>Regresar</a>
      <h1 class='text-3xl capitalize'>{name}</h1>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class='mt-5'>
      <source src={audioSrc} type='audio/ogg' />
      Your browser does not support the audio element.
    </audio>
  </section>
</Layout>
