---
import type { GetStaticPaths } from 'astro';

import { Icon } from 'astro-icon/components';

import type { PokemonListResponse } from '@interfaces/pokemon-list.response';

import Layout from '@layouts/Layout.astro';
import PokemonCard from '@components/PokemonCard.astro';
import Title from '@components/shared/Title.astro';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');

  if (!resp.ok) throw new Error('Failed to fetch data');

  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);

const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout
  title={`Pokémon - #${id} ${name}`}
  description={`Information about the pokémon #${id} ${name}`}
  image={imgSrc}
>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div class='flex flex-row'>
      <div>
        <button class='text-blue-500' onclick='history.back()'>Regresar</button>
        <Title>{name}</Title>
      </div>

      <button id='btn-favorite' class='ml-4 hover:animate-pulse'>
        <Icon name='heart-outline' size={50} />
        <Icon class='hidden' name='heart-full' size={50} />
      </button>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class='mt-5'>
      <source src={audioSrc} type='audio/ogg' />
      Your browser does not support the audio element.
    </audio>
  </section>
</Layout>
